@import "tailwindcss";

@theme {
  --color-main-green: #61bd92;
  --color-main-green-dark: #3faa78ff;
}

.contexify_theme-myTheme {
  --contexify-menu-bgColor: #fff;
  --contexify-separator-color: rgba(0,0,0,.2);
  --contexify-item-color: #333;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #61bd92;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
}

